NODE_ENV=development
PORT=5000

MONGO_URI=mongodb://mongo:27017/careflow-dev
MONGO_PORT=27017

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REFRESH_TOKEN_TTL=604800

STORAGE_TYPE=minio
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=medical-documents

JWT_ACCESS_SECRET=devsecret
JWT_REFRESH_SECRET=devrefreshsecret

LOG_LEVEL=debug
LOG_DIR=logs

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-email-password

